{% extends "/layouts/logreg.html" %}

{% set in_width = "430px" %}
{% set in_height = "350px" %}

{% block title %}Yeux | Register{% endblock %}

<!-- Register Page -->

{% block content %}
<div class="container d-flex text-center justify-content-center align-items-center py-4">
    <form method="POST" action="/register">

        <input type="text" autocomplete="off"
            class="form-control my-3 yeux-form-bg {{ 'is-invalid' if user_error or error}}" name="username"
            placeholder="{{ 'Enter Your Username' if user_error else ('Username Already Exists' if error else 'Username')}}"
            style="width: 260px; height: 60px;">

        <input type="password" autocomplete="off" class="form-control my-3 yeux-form-bg {{ 'is-invalid' if pass_error or conf_error}}"
            name="password"
            placeholder="{{ 'Enter Your Password' if pass_error else ('Password Do Not Match' if conf_error else 'Password')}}"
            style="width: 260px; height: 60px;">

        <input type="password" autocomplete="off" class="form-control my-3 yeux-form-bg {{ 'is-invalid' if conf_error}}"
            name="confirmation" placeholder="{{ 'Password Do Not Match' if conf_error else 'Confirm Password'}}"
            style="width: 260px; height: 60px;">

        <button type="submit" class="btn yeux-l-btn btn-lg" style="width: 180px; height: 50px;">REGISTER</button>
    </form>
</div>
{% endblock %}
